
body {

	background-color: #323274;
	margin:auto;
	width: 75%;

}


h1{
    text-align: center;
	font-family: bangers;
	color: #F27321;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	font-size: 400%;
}

h2{
    text-align: center;
    font-family: bangers;
    color: #F27321;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
a{
    color: #F27321;
}
a:link {color: white;
font-size: 150%;}
a:visited {color: #F27321;font-size: 150%;}
a:hover {color: #F27321;font-size: 300%;}
a:active {color: #F27321;font-size: 150%;}
span{
    color:white;
    padding:5px;
    font-family:arial;
}
#content2{
    color: white;
}
.text{
    color:white;
    font-family: arial;
}

.text_center{
    text-align:center;
}


table {
    border-collapse: collapse;
}

table, tr, td{
    margin-top:10px;
    border: 1px solid white;
    color: white;
    width: 500px; 
    padding:10px;

}

table.center{
    text-align:center;
}

th{
    border: 3px solid white;
    color: white;
    text-align:center;

}

/* Balises INPUT */

input[type="submit"]{
	display: block;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 250px;
	height: 50px;
	font-size: 220%;
	background-color:#F27321;
	border-color: #5858CC;
	border-radius: 10px;
	font-family: bangers;
	color: #323274;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

input[type="button"]{
	display: block;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 250px;
	height: 50px;
	font-size: 220%;
	background-color:#F27321;
	border-color: #5858CC;
	border-radius: 10px;
	font-family: bangers;
	color: #323274;
	text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

input[type="checkbox"] {
    border: 1px solid white;
    font-weight: bold;
    color: white;
    text-color: white;
    text-align:center;
}

input[type="radio"] {
    display:inline-block;
    margin:auto;
    vertical-align:middle;
    margin-left:10px;
}


#content{
    position:relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:500px ;
    height:150px;
    margin-left: 510px;
    color: #ffffff;
}




